
[Unit]
Description=Johanneskirchner Service %i
After=network.target valkey-server.service
Reqiure=valkey-server.service

[Service]
ExecStart=/home/deploy/production/johanneskirchner
WorkingDirectory=/home/deploy/production
User=deploy
Group=deploy
Environment="PORT=%i"
Environment="REDIS_URL=redis://localhost:6379"
LimitNOFILE=65536
Restart=on-failure
TimeoutSec=30
PrivateTmp=true
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=true
AmbientCpabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
